<button class="btn btn-link" (click)="goBack()" *ngIf="thereIsPreviousPage">
    &#8592; Voltar para o gerenciamento de alertas
</button>


<div class="pl-3 mt-3">
    <h5>Be Healthier</h5>
    <div class="form-row">
        <label for="title">Título</label>
        <input #Title type="text" class="form-control" id="title" placeholder="Piscar" [(ngModel)]="reminder.title" />
    </div>
    <div class="form-row">
        <label for="description">Descrição</label>
        <input type="text" class="form-control" id="description" placeholder="Lembrete de piscar" [(ngModel)]="reminder.description" />
    </div>

    <div class="form-row">
        <div class="col-md-12">
            <label for="icon" class="lbl-icon">Icone(Opcional)</label>
        </div>
        <div class="form-row">
            <label id="icon" class="btn btn-primary ml-1">
                Escolher Arquivo
                <input type="file" (change)="changeListener($event)" />
            </label>
            <img *ngIf="reminder.icon" [src]="reminder.icon">
            <label *ngIf="!reminder.icon" class="mt-1 ml-1">{{"Nenhum arquivo selecionado"}}</label>
        </div>

    </div>

    <div class="form-row">
        <label for="slider">{{reminder.title}}: Lembrar à cada {{reminder.interval}} minutos</label>
    </div>
    <div class="form-row">
        <div class="col">
            <mv-slider id="slider" [(value)]="reminder.interval" [min]="1" [max]="200"></mv-slider>
        </div>
    </div>
    <div class="form-row mt-3 right-align">
        <button class="btn btn-primary" (click)="save()">Salvar</button>
    </div>
</div>