.div-status {
  left: 22%;
}

.align-bot {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content {
  height: 290px;
  width: 350px;
  overflow-y: overlay;
  overflow-x: hidden;
}

.center {
  margin: auto;
  width: 50%;
}

.form-row {
  margin-left: 0px;
}
