<div class="content">
    <h5>{{Title}}</h5>
    <ng-container *ngFor="let reminder of settings.Reminders">
        <div class="form-row">
            <label>{{reminder.title}}: Lembrar à cada {{reminder.value}} minutos</label>
        </div>
        <div class="form-row">
            <div class="col">
                <mv-slider [(value)]="reminder.value" [min]="1" [max]="100"></mv-slider>
            </div>
            <div class="col div-status">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" [id]="reminder.id">
                    <label class="custom-control-label" [for]="reminder.id"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <hr style="width: 100%;" />
        </div>
    </ng-container>
    <div class="row">
        <button class='btn btn-primary center' (click)="newReminder()">Novo Alerta</button>
    </div>
    <div class="row mb-2 align-bot">
        <button class='btn btn-primary center' (click)="manageReminders()">Gerenciar meus Alertas</button>
    </div>
</div>